
input[type="datetime-local"] {
  font-size: 20pt;
  width: 350px;
}

#outputs {
  font-family: monospace;
  font-size: 36pt;
  width: 90%;
  font-weight: bold;
  text-align: center;
  width: 350px;
}

#msg {
  background-color: yellow;
  border: 5px solid orange;
  color: black;
  font-weight: 900;
  font-family: monospace;
  padding: 25px;
  font-size: 18pt;
}
