
input[type="datetime-local"] {
  font-size: 28pt;
  width: 450px;
}

#outputs {
  font-family: monospace;
  font-size: 39pt;
  width: 90%;
  font-weight: bold;
  text-align: center;
  width: 450px;
}

#msg {
  background-color: yellow;
  border: 5px solid orange;
  color: black;
  font-weight: 900;
  font-family: monospace;
  padding: 25px;
  font-size: 18pt;
}

#footer {
  font-family: monospace;
  font-size: 12pt;
}

@media (width <= 350px) {
  input {
    width: 250px;
    font-size: 14pt;
  }
}
